{% extends ['base.html.twig', 'menu.html.twig'] %}

{% block title %}Stadistics{% endblock %}

{% block body %}

    {% block menu %}{{include('menu.html.twig')}}{% endblock %}

    <div class=”container-fluid” style="background-color: white">
        <div class="container">
            <div class="row">
                <div class="col-md-6">{{ render_chart(chart) }}</div>
                <div class="col-md-6">{{ render_chart(donut) }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">{{ render_chart(chart) }}</div>
                <div class="col-md-6">{{ render_chart(chart) }}</div>
            </div>
        </div>
    </div>

{% endblock %}
